* {
    /* 清除默认样式 */ 
    margin: 0;
    padding: 0;
}

.table-container {
    margin: 10px auto;
    width: 800px;
    border-collapse: collapse;
}

tr:hover {
    background-color: #e1e1e1;
}

th {
    cursor: pointer;
    border: 1px #ccc solid;
    text-align: center;
    height: 40px;
}

td {
    border: 1px #ccc solid;
    text-align: center;
    height: 40px;
}

input {
    width: 16px;
    height: 16px;
    cursor: pointer;
    accent-color: #74992e; /* 选中时变色 */
}

.sort-icon-asc,
.sort-icon-desc {
    display: block; /* 让它们上下排列 */
    font-size: 12px;
    cursor: pointer;
    margin-top: 2px; /* 增加间距 */
    color: #cacaca; /* 默认灰色 */
}

.sort-icon-asc.active,
.sort-icon-desc.active {
    color: #74992e; /* 绿色 */
}

.th-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.checked-items {
    font-size: 16px;
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin: 20px auto 0; /* 居中并与上面的表格有间距 */
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}